#hero {
    display: flex;
    justify-content: space-between; /* Space between content and image */
    align-items: center; /* Align items vertically centered */
    padding: 100px 50px; /* Adjust padding as needed */
    background-color: #f4f4f4;
  }
  
  .hero-content {
    max-width: 50%; /* Ensure content takes up half the space */
    text-align: left; /* Align text to the left */
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .hero-image {
    max-width: 50%; /* Ensure image takes up half the space */
    text-align: center; /* Center the image */
  }
  
  .hero-image img {
    max-width: 100%; /* Make image responsive */
    height: auto;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .hero-content .btn {
    background-color: #0b795a;
    color: #fff9ed;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .hero-content .btn:hover {
    background-color: #04212b;
  }
  