@import "../../styles/variables";
@import "../../styles/mixins";

#mission {
  background: url("mission_background.png") no-repeat center center;
  background-size: cover;
  padding: 50px 20px;
  text-align: center;
}

.mission-background {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 0;
  overflow: hidden; /* Ensure the content is cropped by the container */
}

.mission-content {
  color: #fff9ed;
}

.mission-header {
  background-color: #fff9ed;
  color: #04212b;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.mission-header h2 {
  margin: 0;
  margin-bottom: 0px;
}

.mission-header p {
  margin: 5px 0 0;
}

.mission-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.mission-content .highlight {
  color: #fff9ed;
  text-decoration: underline;
}

.mission-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.mission-feature {
  max-width: 300px;
  text-align: center;
  color: #fff9ed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-feature img {
  width: 30%; /* Ensure the image takes the full width of its container */
  height: auto;
  object-fit: cover; /* Ensure the image covers the container */
  margin-bottom: 20px;
}

.mission-feature h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.mission-feature ul {
  list-style: none;
  padding: 0;
}

.mission-feature ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
}
