@tailwind base;
@tailwind components;
@tailwind utilities;

strong {
  color: #0b795a;
}
.dark strong {
  color: #c166b9;
}
.nav-item {
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
    color 0s ease-in-out;
  position: relative;
  color: var(--text-color); /* Default color */
}

.dark .nav-item {
  color: #fff9ed; /* Dark mode text color */
}

.nav-item-large {
  transform: scale(1.1);
  font-size: 1.25rem; /* Adjust as needed */
}

.nav-item-small {
  transform: scale(1);
  font-size: 1.25rem; /* Adjust as needed */
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  color: #0b795a; /* Color for "Our" */
  width: 0;
  height: 2px;
  background-color: currentColor; /* Uses the current text color */
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item span:first-child {
  color: #0b795a; /* Color for "Our" */
  transition: color 0.3s ease-in-out;
}

.nav-item span:last-child {
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover span:first-child {
  color: inherit; /* Swap to standard color on hover */
}

.nav-item:hover span:last-child {
  color: #0b795a; /* Swap to primary color on hover */
}

.dark .nav-item span:first-child {
  color: #c166b9; /* Color for "Our" */
  transition: color 0.3s ease-in-out;
}

.dark .nav-item span:last-child {
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.dark .nav-item:hover span:first-child {
  color: inherit; /* Swap to standard color on hover */
}

.dark .nav-item:hover span:last-child {
  color: #c166b9; /* Swap to primary color on hover */
}
/* Navbar transition styles */
#header {
  transition: padding 0.5s ease-in-out;
}

#header.scrolled {
  padding: 0rem 1rem;
}

#header .logo {
  transition: height 0.5s ease-in-out;
  height: 100px;
}

#header.scrolled .logo {
  height: 80px;
}

/* Custom styles */
.logo {
  transition: transform 0.3s ease-in-out;
}

.logo-small {
  transform: scale(0.8);
}
