@import "./styles/variables";
@import "./styles/mixins";
@import "./components/header/header";
@import "./components/hero/hero";
@import "./components/mission/mission";
@import "./components/vision/vision";
@import "./components/team/team";
@import "./components/news/news";
@import "./components/technology/technology";
@import "./components/contact/contact";
@import "./components/footer/footer";

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  @include light-theme; // Default to light theme
}

.container {
  max-width: 1200px; /* Set a maximum width for the main container */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Add some padding for better appearance */
}

#top-banner {
  background-color: $light-primary-color; // Default to light theme
  text-align: center;
  padding: 10px 0;

  p {
    margin: 0;
    color: $light-background-color; // Default to light theme
  }

  a {
    color: $light-background-color; // Default to light theme
    text-decoration: none;
  }
}

/* Button Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.btn.pulse {
  animation: pulse 2s infinite;
}

/* Theme Classes */
body.light {
  @include light-theme;
}

body.dark {
  @include dark-theme;
}
