@import "../../styles/variables";
@import "../../styles/mixins";

#vision {
  background: url("vineyard_background.png") no-repeat center center;
  background-size: cover;
  padding: 50px 20px;
  text-align: center;
}

.vision-background {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 0;
  overflow: hidden; /* Ensure the content is cropped by the container */
}

.vision-content {
  color: #fff9ed;
}

.vision-header {
  background-color: #fff9ed;
  color: #04212b;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 30px;
}

.vision-header h2 {
  margin: 0;
}

.vision-header p {
  margin: 5px 0 0;
}

.vision-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.vision-content .highlight {
  color: #fff9ed;
  text-decoration: underline;
}

.vision-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.feature {
  max-width: 300px;
  text-align: center;
  color: #fff9ed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature img {
  width: 20%; /* Ensure the image takes the full width of its container */
  height: auto;
  object-fit: cover; /* Ensure the image covers the container */
}

.feature .feature-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff9ed; /* Change the color to #fff9ed */
}

.feature .feature-content p {
  font-size: 1.2em;
  color: #fff9ed; /* Change the color to #fff9ed */
}
